body {
	color: #6C757D;
	font-family: Lora, serif;
	font-size: 0.875rem;
	background: rgba(229, 229, 229, 0.3);
}

/* ----------- */
.wrapper {
	min-width: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

/* ----------- */
[class*="__container"] {
	max-width: 83.125rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	margin: 0 auto;
}

/* ----------- */
main {
	flex: 1 1 auto;
}

/* ----------- */
.category {
	background: rgba(255, 255, 255, 0.15);
	border-radius: 0.5rem;
	padding: 0.3125rem 0.625rem;
	display: inline-block;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 0.625rem;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	transition: all 0.3s;
}

.category:hover {
	background: rgba(255, 255, 255, 0.5);
}

/* ----------- */
.title {
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 1.27;
	color: #FFFFFF;
}

.title_dark {
	color: #495057;
}

/* ----------- */
.text {
	font-size: 0.75rem;
	line-height: 1.66;
}

/* ----------- */
[data-item] {
	transform: translate(0px, 3.125rem);
	opacity: 0;
	transition: all 0.8s;
}

[data-item].active {
	transform: translate(0, 0);
	opacity: 1;
}

/* ----------- */